
<div class="container">
  <div style="display: flex;justify-content: space-between;"><h1>Projects</h1><span style="margin-top: 30px;" >LinkedIn : <a target="_blank" href="https://www.linkedin.com/in/rakeshraih/">https://www.linkedin.com/in/rakeshraih/</a></span></div>

  <hr>
  <div>      
  <div class="title-holder">
    <h2>1. <a target="_blank" href="https://twitter-label.herokuapp.com/">Tweets by Label</a></h2> <a target="_blank" href="https://twitter-label.herokuapp.com/">https://twitter-label.herokuapp.com/</a>
  </div>
   <div>
    <div>
        Tool to group tweets by based on the type, For example Google, Apple can be labeled as tech, where as CNN, Fox can be labelled as News. By grouping we can directly get into tweets by label.
        <br/><br/>
        Also has feature to add/remove lables, labes are set as tabs for easy navigation.
        <br/><br/>Twitter widget is used to show the tweets.
        <br/><br/>
        Developed using Material UI.
        <br/><br/>
    </div>
    <b>Github:</b> <a target="_blank" href="https://github.com/rakeshraih/twitter-tags">https://github.com/rakeshraih/twitter-tags</a>
   </div><br/><br/>
    <hr>
  </div>

  <div>      
      <div class="title-holder">
        <h2>2. <a target="_blank" href="http://my-stock-dashboard.herokuapp.com">Stock Dashboard</a></h2> <a target="_blank" href="http://my-stock-dashboard.herokuapp.com">http://my-stock-dashboard.herokuapp.com</a>
      </div>
       <div>
        <div>
            A responsive simple stock dashboard which gives real time ticks of the added stocks, expanded view shows the time against volume/price line graph.
            <br/><br/>
            Developed using, Angular 4, Bootstrap, SASS.
            <br/><br/>
            Application is deployed on Heroku, can be accessed here
            <br/><br/>
            Added a 'Demo Tick' checkbox, which will demo how the stock price change in real time, as the current APIs gets data with 1 minute interval this would demo the variation in stock price with seconds interval.
            <br/><br/>
            Un check 'Demo Tick' to view the real time data from Nasdaq( Refreshes every minute).
            <br/><br/>
            - Responsive design<br/>
            - Drag and drop the labels to order them<br/>
            - Add/Delete the stocks<br/>
            - Stock suggestion on key enter<br/>
            - Randomize the label width<br/>
            - Real time stock quotes are provide by <a href="https://www.alphavantage.co/">Alpha Advantage</a><br/>
            <br/><br/>
        </div>
        <b>Github:</b> <a target="_blank" href="https://github.com/rakeshraih/stock-dashboard">https://github.com/rakeshraih/stock-dashboard</a>
       </div><br/><br/>
        <hr>
      </div>

  <div>      
      <div class="title-holder">
        <h2>3. <a target="_blank" href="https://my-calorie.herokuapp.com/">Calorie Tracker<span class="in-progress">(in progress)</span></a></h2> <a target="_blank" href="https://my-calorie.herokuapp.com/">https://my-calorie.herokuapp.com/</a>
      </div>
       <div>
        <div>
            Calorie tracker to trcak the days calorie intake, user has option to set calori intake based on few parameters. Data is shown with nice charts. User can add/remove/update meals.
            <br/><br/>
            Create profile by adding Name/ weight/ height to start with, chart is created based on meal intake. 
            <br/><br/>
            - Responsive design<br/>
            - Use of Chart.Js for Bar & Pie chart<br/>
            - Add/delete/edit meals<br/>
            <br/><br/>
        </div>
        <b>Github:</b> <a target="_blank" href="https://github.com/rakeshraih/my-calorie">https://github.com/rakeshraih/my-calorie</a>
       </div><br/><br/>
        <hr>
      </div>







          <div>      
              <div class="title-holder">
                <h2>4. <a target="_blank" href="https://css-optimizer.herokuapp.com/">CSS Grouper<span class="in-progress">(in progress)</span></a></h2> <a target="_blank" href="https://css-optimizer.herokuapp.com/">https://css-optimizer.herokuapp.com/</a>
              </div>
               <div>
                <div>
                    This tool is to find the common styles and group them together, Also it optimises the grouped CSS or the normal CSS.
                    <br/><br/>
                    Using Angular and Material UI.
                    <br/><br/>
                </div>
                <b>Github:</b> <a target="_blank" href="https://github.com/rakeshraih/css-optimizer">https://github.com/rakeshraih/css-optimizer</a>
               </div><br/><br/>
                <hr>
              </div>

              <div>      
                <div class="title-holder">
                  <h2>5. Professional Works</h2> 
                </div>
                 <div>
                  <div>
                    System status page for Apple customer and developer communitiues, with differnt Mobile view for better user experience.
                    <br/><br/>
                    Built using ReactJS.
                    <br/><br/>
                    <a target="_blank" href="https://www.apple.com/support/systemstatus/">Apple System Status</a>
                    <br/><br/>
                    <a target="_blank" href="developer.apple.com/system-status">Developer System Status</a>
                    <br/><br/>

                    Support Center for Visa subsidiaries. Responsive design built using Salesforce Ligtning components, Vanilla JS.
                    <br/><br/>
                    <a target="_blank" href="https://uat2-visaplaybook.cs8.force.com/ANET/s/">Authorize.Net Support Center</a>
                    <br/><br/>
                    <a target="_blank" href="https://uat2-visaplaybook.cs8.force.com/ENT/s/">Cybersource Support Center</a>
                    <br/><br/>
                  </div>
                 </div><br/><br/>
                  <hr>
                </div>

              <div>      
                  <b>Github:</b> <a target="_blank" href="https://github.com/rakeshraih/">https://github.com/rakeshraih/</a><br/><br/>
                  <b>CodePen CSS:</b> <a target="_blank" href="https://codepen.io/collection/DmOaxR/">https://codepen.io/collection/DmOaxR/</a>
                  
               </div>             


</div>